.wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0;

  .search-icon {
    position: absolute;
    font-size: 15px;
    margin: 9px 0 0 250px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .search-bar {
    width: 300px;
    height: 35px;
    background-color: white; //수정 lightgray?
    border-radius: 20px;
    border: solid 2px #b6caff;
    padding: 0 20px;
  }
}
