@import 'styles/_mixin';
.wrapper {
  padding: 80px 80px;
  position: relative;
  form {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  input::placeholder,
  textarea::placeholder {
    color: var(--crl-neutral-500);
  }
  input,
  textarea,
  select {
    border: 0;
  }
  select {
    cursor: pointer;
  }
  textarea {
    resize: none;
    background-color: var(--crl-blue-100);
    width: 100%;
    padding: 20px;
  }
  .title-level {
    font-size: 20px;
  }
  *:focus {
    outline: 0;
  }

  .caution-note-wrapper {
    textarea {
      padding: 16px 10px;
    }
  }
  .content {
    display: flex;
    gap: 190px;
    span {
      width: 50px;
    }
    textarea {
      margin-top: -40px;
    }
  }
  .title-wrapper {
    input[name='title'] {
      width: 500px;
      padding: 10px;
      border-style: solid;
      border-width: 1px;
      border-color: transparent transparent var(--crl-blue-800) transparent;
      margin-left: 20px;
    }
  }

  .region-wrapper {
    span {
      margin-right: 100px;
    }
    select {
      width: 134px;
      padding: 9px 10px;
      box-sizing: content-box;
      appearance: none;
      background: url('/assets/images/icon-arrow-down.png') var(--crl-blue-100) no-repeat right 10px center;
      margin-right: 40px;
    }
  }

  .care-days-wrapper {
    margin-top: 10px;
    input {
      display: none;
    }
  }

  .days-title-wrapper {
    margin-top: 60px;
  }

  .care-term-wrapper {
    display: flex;
    align-items: center;
    gap: 62px;
  }

  .targets-wrapper {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    margin-top: 30px;
  }

  .target-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    &:nth-child(1) .target-image-wrapper {
      background-color: var(--crl-green-800);
    }
    &:nth-child(2) .target-image-wrapper {
      background-color: var(--crl-red-800);
    }
    &:nth-child(3) .target-image-wrapper {
      background-color: var(--crl-blue-800);
    }
    input {
      display: none;
      &:checked + label .target-image-wrapper {
        opacity: 1;
      }
    }
  }

  .target-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    aspect-ratio: 1;
    border-radius: 100%;
    opacity: 40%;
    transition: 0.2s;
    cursor: pointer;
    img {
      object-fit: contain;
      height: 100%;
    }
    &:hover {
      opacity: 1;
    }
  }
  .term-wrapper {
    position: relative;
  }
  .hover-space {
    display: inline-block;
    position: absolute;
    top: -6px;
    z-index: 10;
    left: 140px;
    width: 54px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    &:hover + .short-term-tooltip {
      display: flex;
    }
  }
  .calendar-wrapper {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
  }
  .hide {
    display: none;
  }
  .short-term-tooltip {
    font-size: 11px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    position: absolute;
    border-radius: 100vmax;
    left: 126px;
    top: -46px;
    background-color: var(--crl-green-800);
    opacity: 50%;
    &::after {
      opacity: 50%;
      content: '';
      position: absolute;
      bottom: -26%;
      left: 50%;
      translate: -50%;
      width: 0px;
      height: 0px;
      border-top: 10px solid var(--crl-green-800);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
  }

  .main-time-wrapper {
    display: flex;
    width: 250px;
  }
  .time-indivisual-wrapper {
    background-color: var(--crl-blue-700);
    border-radius: 6px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
  }
  .time-wrapper {
    margin-left: auto;
    background: black;
    overflow: hidden;
    width: 60px;
    cursor: pointer;
    input {
      font-size: 20px;
      width: 80px;
    }
  }
  .care-dates-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    & > div {
      display: flex;
      flex-direction: column;
      gap: 11px;
    }
  }
  .selected-time-wrapper {
    width: 430px;
  }
  .hourly-rate-wrapper {
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding-right: 180px;
    input {
      background-color: var(--crl-blue-100);
    }
    input[type='text'] {
      margin-left: 190px;
      width: 130px;
      padding: 8px 10px;
    }
    input + label {
      margin-left: 6px;
      cursor: pointer;
    }
    input[type='checkbox'] {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .negotiable-box-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    input {
      display: none;
      & + span {
        width: 16px;
        aspect-ratio: 1;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid var(--crl-blue-800);
      }
      &:checked + span {
        background: var(--crl-blue-800);
      }
    }
  }

  .days-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    label {
      background: var(--crl-blue-100);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      cursor: pointer;
    }
    input:checked + label {
      background-color: var(--crl-blue-900);
      color: var(--crl-neutral-100);
    }
  }

  .caution-note-wrapper {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-auto-rows: 80px;
    row-gap: 40px;
    column-gap: 70px;
  }

  .button-wrapper {
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    padding-right: 80px;
    gap: 20px;
  }

  .preferred-mate-wrapper,
  .preferred-mate-age-wrapper {
    justify-content: center;
    label {
      background-color: var(--crl-blue-700);
      padding: 4px 8px;
      border-radius: 100vmax;
      cursor: pointer;
    }
    input {
      display: none;
      &:checked + label {
        background-color: var(--crl-blue-900);
        color: var(--crl-neutral-100);
      }
    }
  }
  .preferred-mate-gender-wrapper {
    margin-top: 30px;
    label {
      margin-right: 20px;
    }
  }
  .preferred-mate-age-wrapper {
    margin-top: 30px;
    label {
      margin-right: 16px;
    }
  }
  .button-wrapper {
    button {
      @include button;
    }
  }
  .primary {
    @include button-primary;
  }
  .add-margin-top {
    margin-top: 40px;
  }
  .cancel {
    @include button-cancel;
  }
  .hidden {
    display: none !important;
  }
  .change-schedule {
    cursor: pointer;
    width: 30%;
    padding-block: 18px;
    border-radius: 100vmax;
    border: 0;
    background: var(--crl-blue-800);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.2s;
    img {
      width: 20px;
    }
    &:hover {
      color: var(--crl-neutral-100);
    }
    &:hover img {
      animation: rotation 2s infinite ease-in-out;
    }
  }
  @keyframes rotation {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
  :focus {
    border: 3px solid var(--crl-blue-900) !important;
    border-radius: 10px;
  }
} // wrapper close
