// register 공통 스타일

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    color: #ff6464;
    padding: 0 40px;
    margin: 4px 0 16px;
  }

  button {
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }

  label {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 18px;
    padding-left: 20px;
  }

  input {
    width: 60%;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid gray;
    &:-internal-autofill-selected {
      background-image: none !important;
      background-color: transparent !important;
      color: inherit !important;
    }
  }

  select {
    width: 60%;
    font-size: 14px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid gray;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: inherit !important;
  }

  // register
  .buttonRole {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    button {
      width: 85%;
      height: 230px;
      border: none;
      border-radius: 30px;
      position: relative;
      &:hover {
        box-shadow: 1px 3px 6px var(--crl-neutral-600);
      }

      span {
        color: black;
      }
      + button {
        margin-top: 20px;
      }
    }

    .user-button {
      background-color: var(--crl-blue-600);
    }
    .care-button {
      background-color: var(--crl-red-600);
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;

      img {
        position: absolute;
      }

      @keyframes moveUpDownPearl {
        0% {
          transform: translateY(-2px);
        }
        100% {
          transform: translateY(2px);
        }
      }
      @keyframes moveUpDownBlue {
        0% {
          transform: rotate(325deg) translateY(-2px);
        }
        100% {
          transform: rotate(325deg) translateY(2px);
        }
      }
      @keyframes moveUpDownPink {
        0% {
          transform: rotate(45deg) translateY(-2px);
        }
        100% {
          transform: rotate(45deg) translateY(2px);
        }
      }

      .blue-clam-image {
        width: 85px;
        height: 90px;
        animation: moveUpDownBlue 0.8s ease-in-out infinite alternate;
        top: 100px;
        left: 50px;
      }
      .blue-pearl-image {
        width: 48px;
        height: 48px;
        animation: moveUpDownPearl 0.8s ease-in-out infinite alternate;
        top: 16px;
        left: 150px;
      }
      .pink-clam-image {
        width: 50px;
        height: 55px;
        animation: moveUpDownPink 0.8s ease-in-out infinite alternate;
        top: 25px;
        right: 120px;
      }
      .pink-pearl-image {
        width: 90px;
        height: 90px;
        animation: moveUpDownPearl 0.8s ease-in-out infinite alternate;
        top: 100px;
        left: 80px;
      }

      span {
        font-size: 24px;
      }
      p {
        font-size: 24px;
        margin-top: 16px;
      }
      .general > p {
        color: var(--crl-blue-900);
      }
      .care > p {
        color: var(--crl-red-800);
      }
    }

    .is-user {
      margin: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        margin-bottom: 8px;
      }
    }

    .go-login {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  // authInfo, userInfo

  .register-container {
    display: flex;
    gap: 0;
    width: 60%;
    flex-direction: column;
    margin: 20px;
    padding: 0 18px;
  }

  .region-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    label {
      width: 40%;
      font-size: 18px;
      padding-left: 20px;
    }
    .region {
      width: 60%;
      select {
        width: 100%;
        margin-bottom: 4px;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    button {
      width: 100px;
      height: 32px;
      padding: 4px 0;
      border-radius: 10px;
      font-size: 16px;
    }
    button:first-child {
      margin-right: 16px;
    }
  }

  .submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .submit-button {
    width: 40%;
    padding: 8px 0;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }

  .prev-general-button {
    background-color: var(--crl-blue-100);
    border: 1px solid var(--crl-blue-900);
  }
  .prev-care-button {
    background-color: var(--crl-red-100);
    border: 1px solid var(--crl-red-800);
  }
  .general-button {
    border: none;
    background-color: var(--crl-blue-900);
    color: white;
    &:disabled {
      background-color: var(--crl-blue-700);
    }
  }
  .care-button {
    border: none;
    background-color: var(--crl-red-800);
    color: white;
    &:disabled {
      background-color: var(--crl-red-600);
    }
  }
} // wrapper close
