@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../font/pretendard/Pretendard-Regular.ttf');
  // font-weight: 400;
  // font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../font/pretendard/Pretendard-Bold.ttf');
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../font/pretendard/Pretendard-Medium.ttf');
}

@font-face {
  font-family: 'Soyo-Maple-Bold';
  src: url('../font/soyoMaple/Soyo-Maple-Bold.ttf');
}
