:root {
  --crl-green-600: #ffffec;
  --crl-green-800: #e5ee7b;

  --crl-red-100: #fff9f9;
  --crl-red-600: #ffefef;
  --crl-red-800: #fac7c7;

  --crl-blue-100: #f8f9fd;
  --crl-blue-600: #e7edff;
  --crl-blue-700: #e3e8f6;
  --crl-blue-800: #9cb4fa;
  --crl-blue-900: #8aa1dd;

  --crl-neutral-100: #fdfdfd;
  --crl-neutral-200: #f8f8f8;
  --crl-neutral-400: #d9d9d9;
  --crl-neutral-500: #bdbdbd;
  --crl-neutral-600: #b9becc;
  --crl-neutral-900: #544b4b;

  --ff-primary: 'Pretendard';
  --ff-accent: 'Soyo-Maple';
  // primary: light, regular, medium, bold
  // accent: regular, bold

  --fw-light: 200;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;

  --max-width: 1200px;
}
