.wrapper {
  .card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //폭 제한을 주고 카드 갭 줄이기
  }

  .card-list-container > * {
    margin-bottom: 60px;
  }

  .loading {
    display: flex;
    justify-content: center;
    margin: 100px;
  }
}
