.searchBarContainer {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.searchIcon {
  position: absolute;
  font-size: 15px;
  margin: 9px 0 0 250px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.searchBar {
  width: 300px;
  height: 35px;
  background-color: white; //수정 lightgray?
  border-radius: 20px;
  border: solid 2px #b6caff;
  padding: 0 20px;
}

.filterContainer {
  display: flex;
  justify-content: center;
  padding: 0 0 30px 8px;
}

.filterTarget {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'] {
  // background-color: #b6caff;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid #b6caff;
  margin-right: 10px;
  // outline: none;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-color: #b6caff;
  border: 1px solid #b6caff;
  // content: '\2713';
  // color: #41b883;
  // position: absolute;
}
