.typographyText,
.typographyMainText {
  letter-spacing: -0.5px;
}

.typographyText {
  font-size: 16px;
  line-height: 1.5;
  color: black;
  gap: 8px;
  word-break: keep-all;
}

.typographyTitle {
  color: #909090;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 30px;
}

.typographyMainTitle {
  line-height: 1.2;
  font-size: 36px;
  color: black;
  font-weight: bold;
  margin-bottom: 40px;
}

.typographyMainText {
  font-size: 18px;
  line-height: 1.3;
  color: black;
  gap: 8px;
  word-break: keep-all;
}

.flexItem {
  height: 320px;
  flex: 0 0 calc(50% - 22px);
  border: 1px solid white;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  background-color: var(--background-color);

  &:hover {
    background-color: var(--hover-color);
  }
}
