.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 100px;
  font-size: 20px;
  & > * {
    flex-shrink: 0;
  }
  .navigations-wrapper {
    display: flex;
    gap: 50px;
  }
  h1 {
    img {
      width: 250px;
    }
  }

  ul {
    display: flex;
    a {
      padding: 14px;
    }
    li {
      cursor: pointer;
    }
  }
}
