.wrapper {
  padding-left: 8px;
  input[type='checkbox']:checked {
    accent-color: var(--crl-red-800);
    &:focus {
      outline: none;
    }
  }
  .all-checkbox-container {
    display: flex;
    align-items: center;

    span {
      font-size: 15px;
      margin-left: 14px;
      color: var(--crl-blue-900);
    }
  }
  .post {
    width: 590px;
    height: 50px;
    padding: 8px 0;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid var(--crl-neutral-400);

    .matched-name {
      font-size: 13px;
      padding: 8px 12px;
      color: white;
      background-color: var(--crl-blue-900);
      border: none;
      border-radius: 20px;
    }
    .title {
      font-size: 16px;
      margin-left: 16px;
      display: block;
      width: 440px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        color: var(--crl-blue-900);
      }
    }
    .delete-button {
      color: var(--crl-neutral-400);
      margin-right: 8px;
      cursor: pointer;
      &:hover {
        color: var(--crl-blue-900);
      }
    }
    .heart {
      color: var(--crl-blue-900);
      margin-right: 8px;
    }

    .delete-button,
    .heart {
      margin-left: auto;
    }
    // input[type='checkbox'] {
    //   accent-color: var(--crl-red-800);
    // }
  }

  .nothing {
    display: flex;
    justify-content: center;
  }
} // wrapper close
