.wrapper {
  .sidebar {
    // border: 1px solid #dcdcdc;
    border-radius: 10px;
    width: 195px;
    padding: 40px 20px;
    position: sticky;
    top: 50px;
    left: 0;
    box-shadow: 1px 3px 6px var(--crl-neutral-600);
  }

  .section {
    flex-direction: column;
    a {
      padding: 0;
    }
    ul {
      flex-direction: column;
    }
  }

  .user,
  .post {
    ul {
      margin: 20px 0 0 16px;
      li {
        margin-top: 10px;
        font-size: 14px;
      }
    }
    + li {
      margin-top: 40px;
    }
  }
} // wrapper close
