.card {
  display: inline-block;
  justify-content: center;
  .description {
    color: var(--crl-neutral-100);
    cursor: pointer;
    position: relative;
    width: 280px;
    height: 400px;
    border-radius: 10px;
    transition: transform 0.4s ease;
    padding: 25px 20px;
    img {
      position: absolute;
      top: 120px;
      left: 100px;
      width: 210px;
      object-fit: cover;
    }

    span {
      display: inline-block;
      margin: 20px;
      font-size: 34px;
      font-weight: var(--fw-bold);
      position: relative;

      span {
        position: absolute;
        scale: 1 1.8;
        opacity: 0.5;
        left: 170px;
        top: -25px;
        font-weight: var(--fw-regular);
      }
    }
  }

  .description img {
    transition: transform 0.4s ease;
  }
  .description:hover img {
    transform: rotate(15deg);
  }

  .description:hover {
    transform: scale(1.05);
  }

  .infant,
  .seniorOne,
  .disabled {
    box-shadow:
      rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .infant {
    background: linear-gradient(var(--crl-green-800), #fff);
  }

  .seniorOne {
    background: linear-gradient(var(--crl-red-800), #fff);
  }

  .disabled {
    background: linear-gradient(var(--crl-blue-800), #fff);
    letter-spacing: 1.1px;
  }
}
