.wrpper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  button {
    border: none;
  }

  .page-button {
    color: #5e5f61;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;

    + button:not(.next-button) {
      margin-left: 4px;
    }

    &.active {
      background-color: var(--crl-blue-800);
      color: var(--crl-blue-100);
    }
  }

  .prev-button,
  .next-button {
    padding: 2px 6px;
    width: 50px;
    background-color: white;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }

  .prev-button {
    margin-right: 16px;
  }

  .next-button {
    margin-left: 16px;
  }
} // wrapper close
