.wrapper {
  // 유저 role에 따른 class
  .user-role-background {
    background-color: var(--crl-blue-100);
  }
  .user-background-accent {
    background-color: var(--crl-blue-900);
  }
  .care-user-role-background {
    background-color: var(--crl-red-100);
  }
  .care-user-background-accent {
    background-color: var(--crl-red-800);
  }

  .title-wrapper {
    min-height: 200px;
  }
  .body-wrapper {
    padding: 50px 100px;
    min-height: 350px;
  }
  .description-wrapper {
    min-height: 200px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .title-wrapper {
    display: grid;
    grid-template-columns: 200px 40% 1fr 130px;
  }

  .post-title-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    .post-title {
      font-size: 22px;
      font-weight: var(--fw-bold);
    }
  }

  .writer-image-wrapper {
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .writer-image {
      width: 80px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--crl-neutral-400);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
    }
  }
  .post-badge {
    text-align: center;
    width: 70px;
    padding-block: 5px;
    border: 0;
    border-radius: 100vmax;
  }
  .post-badge-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .post-information-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 5px;
    margin-top: -5px;
    .text-information {
      font-size: 13px;
    }
  }
  .icon-text-wrapper {
    display: flex;
    gap: 20px;
    .information-icons {
      color: var(--crl-neutral-400);
    }
  }
  .watch-icon {
    font-size: 30px;
  }

  .button-wrapper {
    padding-block: 30px;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    & > button {
      cursor: pointer;
      font-size: 16px;
    }
    & > span {
      color: var(--crl-neutral-600);
      font-size: 30px;
    }
  }

  .button-wrapper.post-control-icon {
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: flex-end;
    flex-wrap: wrap;
    span {
      width: 40%;
      cursor: pointer;
    }
  }

  .description-wrapper {
    padding: 60px 100px;
    display: flex;
    justify-content: space-between;
  }
  .features-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    p {
      font-size: 18px;
      span:first-child {
        display: inline-block;
        width: 140px;
        margin-right: 60px;
      }
    }
  }
  .target-image-wrapper {
    img {
      width: 140px;
    }
  }
} // wrapper close
