.card {
  border: 1px solid #ccc;
  width: 310px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
}

.mainInfo {
  background-color: #b6caff;
  border-radius: 10px 10px 0 0;
  height: 180px;
  padding: 20px 10px 0 20px;
}

.mainInfo span {
  height: 50px;
}

.upperInfo {
  display: flex;
  text-align: center;
  width: 160px;
  flex-wrap: wrap;
  // justify-content: space-between;

  span {
    display: flex;
    justify-content: space-evenly;
  }
}

// .upperInfo span {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// component로 변경해야함 임시 아이콘
.careTerm {
  border-radius: 20px;
  width: 50px;
  max-height: 30px;
  background-color: white;
}

.timeStamp {
  font-size: 13px;
  padding: 5px 0 0 10px;
}

.cardStatus {
  color: white;
  font-size: 25px;
}

.mainUpper {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.targetImage {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.extraInfo {
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  li {
    display: flex;
    align-items: center;
    box-sizing: content-box;
    padding: 9px 35px;

    &.location,
    &.date,
    &.time,
    &.preferMate,
    &.wage {
      svg {
        margin-right: 12px;
      }
    }
  }
}

.mainBottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.title {
  font-size: 20px;
  line-height: normal;
  display: block;
  max-width: 190px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.centeredTitle {
  line-height: 50px;
}

.iconContainer {
  display: flex;
  margin-right: 10px;
  max-width: 78.4px;

  .messageIcon {
    font-size: 40px;
    color: white;
    margin-right: 10px;
    max-width: 40px;
  }

  .wishlistIcon {
    font-size: 40px;
    color: white;
  }
}
