.wrapper {
  .card {
    border: 1px solid #ccc;
    width: 310px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }
  }

  /* 폰트 지정 후 수정 */
  .main-info {
    background-color: #b6caff;
    border-radius: 10px 10px 0 0;
    height: 180px;
    padding: 20px 10px 0 20px;
  }

  .main-info span {
    height: 50px;
  }

  .target-image {
    width: 85px;
    height: 85px;
    margin-right: 20px;
    border-radius: 50%;
  }

  .main-upper {
    display: flex;
    width: 260px;
    margin-bottom: 15px;
  }

  .upper-info {
    // display: flex;
    width: 200px;
    flex-wrap: wrap;

    img {
      //careTerm 이미지로 변경 후 삭제
      display: flex;
      justify-content: space-evenly;
      width: 50px;
    }
  }

  // 이미지로 변경해야함 임시 아이콘
  .care-term {
    border-radius: 20px;
    width: 50px;
    max-height: 30px;
    background-color: white;
  }

  .main-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .time-stamp {
    display: flex;
    font-size: 13px;
    align-items: center;
    color: #575757;
    margin-right: 20px;
  }

  .card-status {
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
  }

  .icon-container {
    display: flex;
    margin-right: 20px;
  }

  .extra-info {
    ul {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }

    li {
      display: flex;
      align-items: center;
      box-sizing: content-box;
      padding: 9px 35px;

      &.location,
      &.date,
      &.time,
      &.prefer-mate,
      &.wage {
        svg {
          margin-right: 12px;
        }
      }
    }
  }

  .title {
    font-size: 20px;
    line-height: normal;
    display: block;
    max-width: 230px;
    height: 55px;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .centered-title {
    line-height: 50px;
  }
} // wrapper close
