.wrapper {
  .card {
    border: 1px solid #e0e0e0;
    width: 270px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }
  }

  /* 폰트 지정 후 수정 */
  .main-info {
    background-color: #b6caff;
    border-radius: 10px 10px 0 0;
    height: 170px;
    padding: 20px 10px 0 20px;

    .main-bottom {
      display: flex;
      justify-content: space-between;
      align-self: center;

      .wish-icon {
        margin-right: 20px;
        padding-right: 20px;
      }

      .time-stamp {
        font-size: 13px;
        color: #575757;
      }

      .card-status {
        color: white;
        font-size: 23px;
        font-family: var(--ff-accent) !important;
        font-weight: var(--fw-bold);
      }
    }
  }

  .target-image {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
  }

  .main-upper {
    display: flex;
    width: 230px; // 타이틀 길이
    margin-bottom: 20px;
  }

  .upper-info {
    // display: flex;
    width: 200px;
    flex-wrap: wrap;

    img {
      display: flex;
      justify-content: space-evenly;
      width: 50px;
    }
  }

  .main-bottom {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  .time-stamp {
    font-size: 13px;
    padding: 15px 20px 0 0;
    color: #575757;
  }

  .card-status {
    color: white;
    font-size: 25px;
    font-family: var(--font-soyoMapleBold) !important;
    padding: 5px 0 0 5px;
  }

  .extra-info {
    ul {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }

    li {
      display: flex;
      align-items: center;
      box-sizing: content-box;
      padding: 9px 40px;

      &.location,
      &.date,
      &.time,
      &.prefer-mate,
      &.wage {
        font-size: 14px;
        svg {
          margin-right: 15px;
        }
      }
    }
  }

  .title {
    font-size: 19px;
    line-height: normal;
    display: block;
    height: 55px;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .centered-title {
    line-height: 50px;
  }
} // wrapper close
