// 채팅 창 스타일
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--crl-neutral-100);
  border-radius: 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &.on {
    transform: translateX(0%);
    opacity: 1;
  }

  button {
    cursor: pointer;
    border: 0;
    background: none;
  }
  .loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chat-roombox {
    width: 100%;

    .chat-room-header {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 155px;
      padding: 25px 15px 20px;
      background-color: var(--crl-blue-100);
      border-bottom: 1px solid #eee;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
      box-sizing: border-box;

      .backbtn {
        position: absolute;
        top: 5px;
        right: 10px;
        border: 0;
        background: none;
      }

      .mate-photobox {
        // 돌봄메이트 프로필 사진 자동으로 들어가는곳
        flex: 0 0 50px;

        .profile-photo {
          display: block;
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .mateinfo-leftbox {
        flex: 0 0 calc(100% - 50px);
        max-width: calc(100% - 50px);
        padding-left: 10px;
        box-sizing: border-box;

        .post-title {
          display: block;
          width: calc(100% - 50px);
          margin-bottom: 10px;
          font-weight: 600;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          word-wrap: normal;

          &:hover {
            text-decoration: underline;
          }
        }

        .matename {
          font-size: 18px;
          font-weight: 700;
          margin-right: 10px;
          line-height: 1.3;
        }
        .keyword {
          display: inline-block;
          width: 60px;
          height: 22px;
          border-radius: 10px;
          text-align: center;
          font-size: 13px;
          line-height: 1.7;

          &.child {
            background-color: var(--crl-green-800);
          }

          &.senior {
            background-color: var(--crl-red-800);
          }

          &.disabled {
            background-color: var(--crl-blue-800);
          }
        }

        .icons-box {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .box1 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 150px;
            margin-top: 10px;
            padding: 5px 0;

            span {
              flex: 0 0 15px;
              margin: 0;
            }

            .genderinfo {
              flex: 0 0 calc(100% - 15px);
              margin: 0;
              padding: 0 10px 8px;
            }
            .areainfo {
              flex: 0 0 calc(100% - 15px);
              display: block;
              margin: 0;
              padding: 0 8px;
            }
          }

          span {
            margin: 0 8px;
            font-size: 13px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        button {
          height: 35px;
          border: 0;
          outline: 0;
          border-radius: 10px;
          font-size: 12px;
          font-weight: 500;
        }

        .mate-confirmed {
          background-color: var(--crl-blue-900);
          color: var(--crl-neutral-100);
        }
        .chatroom-out {
          margin-left: 10px;
          background-color: var(--crl-red-800);
        }
      } // react-icons box End
      //ChatBackYarn ChatBackBath ChatBackHat
    } // leftbox End
  } // chat-room-header End

  .chat-room-contents {
    position: relative;
    height: 375px;
    padding: 1px 0;
    box-sizing: border-box;

    .chat-date {
      display: block;
      margin: 25px 0;
      padding: 5px 0;
      font-size: 13px;
      text-align: center;
    }

    .chat-textsbox {
      overflow-y: auto;
      height: 100%;
      padding: 0 10px;
      box-sizing: border-box;

      .text-item {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 25px;
        overflow: hidden;

        .user-imgbox {
          flex: 0 0 50px;
          margin-right: 10px;

          .img-user1,
          .img-user2 {
            display: block;
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .username1,
        .username2 {
          font-size: 16px;
          font-weight: 700;
        }

        .chat-text {
          display: block;
          max-width: 320px;
          margin: 10px 0;
          padding: 8px 15px;
          background-color: var(--crl-blue-700);
          border-radius: 15px;
          line-height: 1.6;
          font-size: 14px;
          word-break: keep-all;
        }
        .chat-time {
          align-self: flex-start;
          margin: 36px 8px 0;
          font-size: 14px;
        }
        .chat-read {
          flex: 0 0 auto;
          align-self: flex-start;
          margin-top: 35px;
          color: var(--crl-blue-900);
        }

        &.me {
          flex-direction: row-reverse;
          .user-imgbox {
            margin-left: 10px;
            margin-right: 0;
          }

          .username2 {
            text-align: right;
          }
        }
      } // li tag End
    } // ul tag End

    .backimg-hat,
    .backimg-yarn,
    .backimg-bath {
      position: absolute;
      z-index: 1;
      pointer-events: none;
    }

    .backimg-hat {
      width: 100px;
      top: 75px;
      left: 40px;
    }
    .backimg-yarn {
      width: 120px;
      bottom: 50px;
      left: 30px;
    }

    .backimg-bath {
      width: 200px;
      right: 0;
      bottom: -30px;
    }
  } // chat-room-contents End

  .chat-room-footer {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 15px;
    background-color: var(--crl-blue-100);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    text-align: center;

    .inputbox {
      flex: 1 1 auto;
      height: 35px;
      padding: 8px 8px;
      background-color: var(--crl-blue-700);
      border: none;
      border-radius: 10px;
      resize: none;
      outline: none;
      overflow: hidden;
    }
    .send-message {
      flex: 0 0 50px;
      margin-left: 10px;

      & > svg {
        transform: rotate(45deg);
      }
    }
  }
}
