.wrapper {
  width: 100%;
  .message-box-btn {
    position: fixed;
    width: 65px;
    right: 100px;
    bottom: 50px;
    background: inherit;
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 0;
    overflow: visible;
    cursor: pointer;
  }

  .img-message {
    position: relative;
  }

  .img-newmessage {
    position: absolute;
    top: 0;
    right: 0;
  }
}
