// 메시지함 전체 감싸기용 컴포넌트
.wrapper {
  overflow: hidden;
  position: fixed;
  right: 107px;
  bottom: 116px;
  width: 420px;
  height: 610px;
  max-height: calc(100vh - 170px);
  background-color: var(--crl-neutral-100);
  box-shadow: 1px 1px 12px #777;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0);
  transform-origin: 100% 100%;
  transition: all 0.4s ease-in-out;

  &.open {
    opacity: 1;
    transform: scale(1);
  }
}