.wrapper {
  .message-box-btn {
    position: fixed;
    right: 250px;
    bottom: 60px;
    width: 75px;
    background: inherit;
    border-radius:0;
    border:none; 
    box-shadow:none; 
    padding:0; 
    overflow: visible; 
    cursor: pointer;
  }
}

