.wrapper {
  width: 100%;
  .message-box-btn {
    position: fixed;
    width: 65px;
    right: 100px;
    bottom: 35px;
    background: inherit;
    border-radius:0;
    border:none; 
    box-shadow:none; 
    padding:0; 
    overflow: visible; 
    cursor: pointer;

    
  }
}

