.wrapper {
  .mypage {
    display: flex;
    .sidebar {
      margin-top: 120px;
    }
    main {
      padding: 20px 50px;
    }
  }

  .content {
    width: 80%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cancel,
  .complete,
  .edit {
    margin-top: 16px;
    padding: 2px 8px;
    border-radius: 8px;
    border: 1px solid darkgray;
    cursor: pointer;
  }

  .complete {
    margin-left: 4px;
    background-color: #ffd8d8;
  }
} // wrapper close
