.wrapper {
  .search {
    float: right;
    width: 220px;
    margin-right: 20%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.598);
  }
} // wrapper close
