.wrapper {
  dispay: flex;
  flex-direction: column;
  gap: 5px;
  li {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--crl-blue-700);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .indivisual-time-controll-wrapper {
    display: grid;
    padding-inline: 10px;
    grid-template-columns: repeat(4, 106px);
    row-gap: 10px;
    place-items: start;
    align-items: center;
    span {
      margin-right: 50px;
    }
  }
  .selected-time-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-inline: 20px;
    justify-content: space-between;
    button {
      background-color: transparent;
      color: var(--crl-blue-900);
      border: 0;
    }
    .selected-time {
      margin-left: -10px;
    }
  }
  .hover-icon {
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
} // wrapper close
