.wrapper {
  padding: 50px 100px;
  background-color: var(--crl-blue-100);
  line-height: 1.5;

  div {
    .logo {
      width: 145px;
      object-fit: cover;
      margin-bottom: 10px;
    }
  }
}
