.wrapper {
  .switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 30px;
    background-color: var(--crl-blue-100);
    border-radius: 100vmax;
    overflow: hidden;
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--crl-blue-100);
  }
  .slider:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 50%;
    left: 0;
    bottom: 0;
    border-radius: 100vmax;
    background-color: var(--crl-blue-900);
    transition: 0.4s;
  }
  input:checked + .slider:before {
    transform: translateX(100%);
  }
  input:checked + .slider .right-letter {
    color: white;
  }
  :not(input:checked) + .slider .left-letter {
    color: white;
  }
  .left-letter,
  .right-letter {
    position: absolute;
    z-index: 5;
    top: 30%;
  }
  .left-letter {
    left: 13%;
  }
  .right-letter {
    right: 13%;
  }
}
